<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.farid.project_test">

    <uses-permission android:name="android.permission.INTERNET" />
        
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".search"
            android:label="@string/title_activity_search" />
        <activity android:name=".Add_company" />
        <activity
            android:name=".login"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".register" />
        <activity android:name=".round_trip" />
        <activity android:name=".one_way" />
        <activity android:name=".choose_date" />
        <activity android:name=".Manage_Companies" />
        <activity android:name=".Manage_Clients" />
        <activity android:name=".Company_control_panel" />
        <activity android:name=".Add_flights" />
        <activity android:name=".Manage_employee" />
        <activity android:name=".Admin_control_panel" />
        <activity android:name=".Company_Flights" />
        <activity android:name=".one_way_result_list" />
        <activity android:name=".employee_control_panel" />
        <activity android:name=".manage_reservation_requests" />
        <activity android:name=".round_result_list" />
        <activity android:name=".flight_details" />
        <activity android:name=".client_info" />
        <activity android:name=".Client_control_panel" />
        <activity android:name=".Client_view_reservation" />

        <service android:name=".FirebaseService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".event_history" />
        <activity android:name=".notification"></activity>
        <service android:name=".getNewNot" android:enabled="true" android:exported="true"></service>
    </application>

</manifest>